@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: 'community-security';
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #ffffff;
  --color-base-200: #f9fafb;
  --color-base-300: #f3f4f6;
  --color-base-content: #374151;
  --color-primary: #4b6bfb;
  --color-primary-content: #ffffff;
  --color-secondary: #047aff;
  --color-secondary-content: #ffffff;
  --color-accent: #f97316;
  --color-accent-content: #ffffff;
  --color-neutral: #374151;
  --color-neutral-content: #ffffff;
  --color-info: #0ea5e9;
  --color-info-content: #ffffff;
  --color-success: #10b981;
  --color-success-content: #ffffff;
  --color-warning: #f59e0b;
  --color-warning-content: #ffffff;
  --color-error: #dc2626;
  --color-error-content: #ffffff;

  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'community-security-dark';
  default: false;
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: #0f172a;
  --color-base-200: #1e293b;
  --color-base-300: #334155;
  --color-base-content: #e2e8f0;
  --color-primary: #60a5fa;
  --color-primary-content: #0f172a;
  --color-secondary: #38bdf8;
  --color-secondary-content: #0f172a;
  --color-accent: #fb923c;
  --color-accent-content: #0f172a;
  --color-neutral: #64748b;
  --color-neutral-content: #f1f5f9;
  --color-info: #7dd3fc;
  --color-info-content: #0f172a;
  --color-success: #4ade80;
  --color-success-content: #0f172a;
  --color-warning: #fbbf24;
  --color-warning-content: #0f172a;
  --color-error: #f87171;
  --color-error-content: #0f172a;

  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;
  --depth: 1;
  --noise: 0;
}
